# Make a final dataset

In [1]:
import re
import time
import datetime
import pandas as pd
from tqdm import tqdm

In [2]:
docpiter = pd.read_csv('doctorpiter_wellness_full.csv')
docpiter.duplicated().sum()

0

In [3]:
docpiter.isna().sum()

url         0
content    27
topic       0
dtype: int64

In [4]:
docpiter = docpiter.dropna()
docpiter.isna().sum()

url        0
content    0
topic      0
dtype: int64

In [6]:
docpiter = docpiter[['content', 'topic']]
docpiter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9524 entries, 0 to 9550
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   content  9524 non-null   object
 1   topic    9524 non-null   object
dtypes: object(2)
memory usage: 223.2+ KB

In [7]:
docpiter['topic'] = docpiter['topic'].replace('wellness', 5)
docpiter.head()

                                             content  topic
0  Больше блюд — не значит лучше, говорят диетоло...      5
1  В некоторых семьях оливье до сих пор готовят ц...      5
2  Сахарный диабет зачастую для многих неожиданны...      5
3  Холодец — одно из традиционных блюд русской ку...      5
4  Не стоит думать, что кишечные инфекции — сугуб...      5

In [8]:
all_news = pd.read_csv('all_news.csv')
all_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31851 entries, 0 to 31850
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      31851 non-null  object
 1   content  31851 non-null  object
 2   topic    31851 non-null  object
dtypes: object(3)
memory usage: 746.6+ KB

In [9]:
all_news.topic.value_counts()

Силовые структуры     3539
Бывший СССР           3539
Экономика             3539
Забота о себе         3539
Общество/Россия       3539
Спорт                 3539
Туризм/Путешествия    3539
Наука и техника       3539
Строительство         3539
Name: topic, dtype: int64

In [10]:
topic_mapping = {
    'Силовые структуры': 2,
    'Наука и техника': 8,
    'Общество/Россия': 0,
    'Бывший СССР': 3,
    'Туризм/Путешествия': 7,
    'Спорт': 4,
    'Строительство': 6,
    'Экономика': 1,
    'Забота о себе': 5,
}


all_news['topic'] = all_news['topic'].replace(topic_mapping)
all_news.topic.value_counts()

2    3539
3    3539
1    3539
5    3539
0    3539
4    3539
7    3539
8    3539
6    3539
Name: topic, dtype: int64

In [12]:
lenta = pd.read_csv('lentaru_news.csv')
lenta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132961 entries, 0 to 132960
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    132961 non-null  object
 1   topic   132961 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

In [13]:
lenta.isna().sum()

text     0
topic    0
dtype: int64

In [14]:
lenta.topic.value_counts()

0    42686
1    22211
3    21524
4    12545
2    11879
8    11187
7     8437
5     2492
Name: topic, dtype: int64

In [15]:
lenta['topic'].value_counts(normalize=True)

0    0.321042
1    0.167049
3    0.161882
4    0.094351
2    0.089342
8    0.084137
7    0.063455
5    0.018742
Name: topic, dtype: float64

In [16]:
all_news_flt = all_news[(all_news['topic'] == 6) | (all_news['topic'] == 5)]

In [17]:
all_news_flt.topic.value_counts()

5    3539
6    3539
Name: topic, dtype: int64

In [20]:
lenta = lenta.rename(columns={'text': 'content'})

In [23]:
all_news_flt = all_news_flt.drop(columns='url')
all_news_flt

                                                 content  topic
17     В праздничные дни пары чаще ссорятся из-за ден...      5
20     Вирус папилломы человека (ВПЧ) — один из самых...      5
24     Психолог Ли Хокер-Лесейн рассказал, как распоз...      5
29     Во время новогодних праздников большинство люд...      5
42     Лайф-коуч и эксперт по отношениям Мишель Элман...      5
...                                                  ...    ...
31846  Особенность мышечной ткани в том, что она може...      5
31847  Этой зимой, кажется, болеют все. Если предыдущ...      5
31848  Контролировать уровень сахара в крови необходи...      5
31849  Более 90% всех случаев рака можно вылечить, ес...      5
31850  Зачем организму сольМеньше солить пищу — это р...      5

[7078 rows x 2 columns]

In [24]:
combined = pd.concat([lenta, all_news_flt], axis=0, ignore_index=True)
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140039 entries, 0 to 140038
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   content  140039 non-null  object
 1   topic    140039 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.1+ MB

In [25]:
combined.head()

                                             content  topic
0  Лика Миргородская Пожар в сочинском лесу близ ...      0
1  Фото: Telegram-канал BAZA Лика Миргородская Те...      0
2  Владимир Зеленский Фото: Valentyn Ogirenko / R...      3
3  Фото: Владимир Песня / РИА Новости Илья Соболе...      0
4  Фото: Павел Бедняков / РИА Новости Милана Мика...      0

In [26]:
combined.topic.value_counts(normalize=True)

0    0.304815
1    0.158606
3    0.153700
4    0.089582
2    0.084826
8    0.079885
7    0.060248
5    0.043067
6    0.025272
Name: topic, dtype: float64

In [27]:
combined.to_csv('full_news.csv', index=False)

# Новости из фонтанки.ру + doctorpiter.ru

In [121]:
df_1 = pd.read_csv('fontanka_news_final_find_all.csv')
df_2 = pd.read_csv('fontanka_news.csv')
df_3 = pd.read_csv('fontanka_news_18_19.csv')
#df_4 = pd.read_csv('D:/My_courses/News_Classification_Project/data/news_final_balanced.csv')
df_5 = pd.read_csv('news_fontanka.csv')
df_6 = pd.read_csv('doctorpiter_news_01.csv')
df_7 = pd.read_csv('news_fontanka_6_01.csv')

In [32]:
df_1.topic.value_counts()

Строительство    2504
Спорт            2476
Туризм            429
Name: topic, dtype: int64

In [33]:
df_2.topic.value_counts()

Спорт            24536
Строительство     3316
Туризм            2578
Name: topic, dtype: int64

In [34]:
df_3.topic.value_counts()

Строительство    305
Туризм           245
Name: topic, dtype: int64

In [35]:
df_4.topic.value_counts()

politics          4690
world             4690
economy           4690
society           4690
incidents         4690
science           4690
culture           4690
religion          4690
defense_safety    4690
Name: topic, dtype: int64

In [36]:
df_5.topic.value_counts()

Происшествия     7866
Общество         7322
Строительство    1100
Спорт             832
Туризм            160
Name: topic, dtype: int64

In [40]:
df_6.topic.value_counts()

wellness    9551
Name: topic, dtype: int64

Берем только новости из фонтанки.ру

In [122]:
comb_fontanka = pd.concat([df_1, df_2, df_3, df_5, df_6, df_7], axis=0, ignore_index=True)
comb_fontanka = comb_fontanka.drop_duplicates(subset='url').reset_index(drop=True)
comb_fontanka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55156 entries, 0 to 55155
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      55156 non-null  object
 1   content  55110 non-null  object
 2   topic    55156 non-null  object
dtypes: object(3)
memory usage: 1.3+ MB

In [123]:
comb_fontanka = comb_fontanka.dropna()
comb_fontanka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55110 entries, 0 to 55155
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      55110 non-null  object
 1   content  55110 non-null  object
 2   topic    55110 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [124]:
comb_fontanka.topic.value_counts()

Спорт            24321
wellness          9523
Происшествия      7758
Общество          7228
Строительство     3660
Туризм            2620
Name: topic, dtype: int64

Сокращаем кол-во новостей по теме спорт

In [125]:
rows_to_drop = comb_fontanka.query('topic == "Спорт"').index
rows_to_drop_2 = comb_fontanka.query('topic == "Происшествия"').index

# Удаление 19321 случайных строк из выборки спорта
rows_to_drop = rows_to_drop[:19321] 

# Создание нового DataFrame без выбранных строк
comb_fontanka = comb_fontanka.drop(rows_to_drop)
comb_fontanka = comb_fontanka.drop(rows_to_drop_2)
comb_fontanka.topic.value_counts()

wellness         9523
Общество         7228
Спорт            5000
Строительство    3660
Туризм           2620
Name: topic, dtype: int64

In [126]:
comb_fontanka = comb_fontanka[['content', 'topic']]
comb_fontanka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28031 entries, 1 to 55155
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   content  28031 non-null  object
 1   topic    28031 non-null  object
dtypes: object(2)
memory usage: 657.0+ KB

In [127]:
topic_mapping = {
    'Силовые структуры': 2,
    'Наука и техника': 8,
    'Общество/Россия': 0,
    'Бывший СССР': 3,
    'Туризм/Путешествия': 7,
    'Спорт': 4,
    'Строительство': 6,
    'Экономика': 1,
    'Забота о себе': 5,
    'wellness': 5,
    'Общество': 0,
    'Туризм': 7
}


comb_fontanka['topic'] = comb_fontanka['topic'].replace(topic_mapping)
comb_fontanka.topic.value_counts()

5    9523
0    7228
4    5000
6    3660
7    2620
Name: topic, dtype: int64

# Объединяеем новости из Ленты и Фонтанки и ДокторПитер

In [128]:
comb = pd.concat([lenta, comb_fontanka], axis=0, ignore_index=True)
comb = comb.drop_duplicates().reset_index(drop=True)
comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160990 entries, 0 to 160989
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   content  160990 non-null  object
 1   topic    160990 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB

In [62]:
comb.topic.value_counts(normalize=True)

0    0.310044
1    0.137965
3    0.133698
4    0.108976
5    0.074626
2    0.073787
8    0.069489
7    0.068681
6    0.022734
Name: topic, dtype: float64

In [63]:
comb.topic.value_counts()

0    49914
1    22211
3    21524
4    17544
5    12014
2    11879
8    11187
7    11057
6     3660
Name: topic, dtype: int64

In [64]:
comb.to_csv('full_news_2.csv', index=False)

С full_news.csv + transformers rubert tiny удалось получить 0.92 на public.

## Новости с ria (туризм + наука и техника)

In [76]:
ria_news = pd.read_csv('D:/My_courses/News_Classification_Project/data/news_final_balanced.csv')
ria_news.topic.value_counts()

politics          4690
world             4690
economy           4690
society           4690
incidents         4690
science           4690
culture           4690
religion          4690
defense_safety    4690
Name: topic, dtype: int64

In [77]:
ria_tourism = pd.read_csv('ria_news_tourism.csv')
ria_tourism.topic.value_counts()

tourism    804
Name: topic, dtype: int64

In [78]:
ria_science = ria_news[ria_news['topic']=='science']
ria_science = ria_science[['content', 'topic']]
ria_science['topic'] = ria_science['topic'].replace('science', 8)
ria_science.topic.value_counts()

8    4690
Name: topic, dtype: int64

In [79]:
ria_tourism = ria_tourism[['content', 'topic']]
ria_tourism['topic'] = ria_tourism['topic'].replace('tourism', 7)
ria_tourism.head()

                                             content  topic
0  Коломна — один из старейших и богатых на досто...      7
1  МОСКВА, 31 дек — РИА Новости, Светлана Давыдов...      7
2  МОСКВА, 27 дек — РИА Новости, Светлана Давыдов...      7
3  МОСКВА, 15 дек — РИА Новости, Екатерина Мироно...      7
4  МОСКВА, 11 дек — РИА Новости, Светлана Давыдов...      7

In [129]:
comb_2 = pd.concat([comb, ria_tourism, ria_science], axis=0, ignore_index=True)
comb_2 = comb_2.drop_duplicates().reset_index(drop=True)
comb_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166484 entries, 0 to 166483
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   content  166484 non-null  object
 1   topic    166484 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB

In [84]:
comb_2.topic.value_counts()

0    49914
1    22211
3    21524
4    17544
8    15877
5    12014
2    11879
7    11861
6     3660
Name: topic, dtype: int64

In [85]:
comb_2.head()

                                             content  topic
0  Лика Миргородская Пожар в сочинском лесу близ ...      0
1  Фото: Telegram-канал BAZA Лика Миргородская Те...      0
2  Владимир Зеленский Фото: Valentyn Ogirenko / R...      3
3  Фото: Владимир Песня / РИА Новости Илья Соболе...      0
4  Фото: Павел Бедняков / РИА Новости Милана Мика...      0

In [86]:
comb_2.to_csv('full_news_3.csv', index=False)